html, body {
    height: 100%;
}

body {
    background: fixed linear-gradient(135deg, transparent, steelblue, lightskyblue), fixed url('../assets/images/olivier-collet-bjkxueiXP3w-unsplash.jpg') no-repeat;
    background-blend-mode: soft-light;
}

@media screen and (min-height: 1000px) {
    body {
        background-size: contain;
    }
}